modules = ["nodejs-20"]
run = "cd frontend && npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3010
externalPort = 8080


[deployment]
run = ["sh", "-c", "cd frontend && npm start"]
